<form class="ejercicio-div" *ngIf="ejercicio" (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="contenido bg-page">

        
        <div class="row">
            <label class="col-3">Creador</label>
            <input type="text" readonly class="form-control col-9 f-22" value="{{form.get('creator')?.value}}">

        </div>

        <div class="row">
            <label class="col-3">Nombre</label>
            <input type="text" class="form-control col-9 f-22" formControlName="name" [class.is-invalid]="nameInvalido">

        </div>
        
        <div class="row">
            <label class="col-3">Categoría</label>
            <input type="text" class="form-control col-9 f-22" formControlName="section" [class.is-invalid]="sectionInvalido">
        </div>
        
        <div class="row">
            <label class="col-3">Nivel</label>
            <span class="level">
                <i (click)="setNivel(1)" class="fas fa-star" [ngClass]="{'clickeable' : esNuevo}"></i>
                <i (click)="setNivel(2)" class="fas fa-star" [ngClass]="{'no-star': nivel==1, 'clickeable' : esNuevo}"></i>
                <i (click)="setNivel(3)" class="fas fa-star" [ngClass]="{'no-star': nivel<3, 'clickeable' : esNuevo}"></i>
                <i (click)="setNivel(4)" class="fas fa-star" [ngClass]="{'no-star': nivel<4, 'clickeable' : esNuevo}"></i>
                <i (click)="setNivel(5)" class="fas fa-star" [ngClass]="{'no-star': nivel<5, 'clickeable' : esNuevo}"></i>
            </span>
        </div>
        
        <div class="row">
            <label class="col-3">Descripción</label>
            <textarea type="text" class="form-control col-9" formControlName="details" [class.is-invalid]="detailsInvalido"></textarea>
        </div>
        
        <div class="row">
            <label class="col-3">Llamada</label>
            <input type="text" class="form-control col-9 f-22" formControlName="call" [class.is-invalid]="callInvalido">
        </div>
        
        <div class="row">
            <label class="col-3">Archivo</label>
            
            <label class="custom-file-upload f-22">
                <input formControlName="file" type="file" (change)="selectFile($event)"/>
                <i class="fa fa-cloud-upload"></i> Subir Archivo
            </label>
            <div class="file-msg">
                <span *ngIf="fileUploaded">{{fileUploaded.name}}</span>
                <span *ngIf="!fileUploaded">Archivo no seleccionado</span>
            </div>
            
        </div>

        
        
        <!-- tabla de ejemplos -->
        <label>Ejemplos</label>
        
        <table class="table table-striped ">
            <thead>
                <th>Llamada</th>
                <th>Resultado</th>
                <th>Comentario</th>
                <th>Eliminar</th>
            </thead>
            <tbody formArrayName="examples">
                <tr *ngFor="let example of examples.controls; let i=index" [formGroupName]="i">
                    <td>
                        <input  type="text"
                                class="form-control"
                                formControlName ="call"
                                [class.is-invalid]="exampleCallInvalido(i)"
                        >
                    </td>
                    <td>
                        <input  type="text"
                                class="form-control"
                                formControlName ="result"
                                [class.is-invalid]="exampleResultInvalido(i)"
                        >
                    </td>
                    <td>
                        <input  type="text"
                                class="form-control"
                                formControlName ="comment"
                        >
                    </td>
                    <td>
                        <button class="btn btn-danger btn-block"(click)="borrarExample(i)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-block btn-mywhite" (click)="agregarExample()"><i class="fas fa-plus"></i></button>
        <div class="error mt-1 mb-4">
            <small *ngIf="sinEjemplos && revisado" class="text-danger">
               Es recomendado poner al menos un ejemplo
            </small>
        </div>


        <hr class="my-5">


        <div formGroupName="solution">

            <!-- tabla de inputs -->

            <div class="row">

                
                <label>Inputs</label>
                
                <table class="table table-striped">
                    <thead>
                        <th>Entrada</th>
                        <th>Tipo</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody formArrayName="inputs">
                        <tr *ngFor="let input of inputs.controls; let i=index" [formGroupName]="i">
                            <td>
                                <input  type="text"
                                class="form-control"
                                formControlName ="name"
                                [class.is-invalid]="inputNameInvalido(i)"
                                >
                            </td>
                            
                            <td>
                                <input  type="text"
                                class="form-control"
                                formControlName ="type"
                                [class.is-invalid]="inputTypeInvalido(i)"
                                >
                            </td>
                            <td>
                                <button class="btn btn-danger btn-block"(click)="borrarInput(i)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-block btn-mywhite" (click)="agregarInput()"><i class="fas fa-plus"></i></button>
                
            </div>
            

            <!-- tabla de outputs -->

            <div class="row">

                <label>Outputs</label>
                
                <table class="table table-striped">
                    <thead>
                        <th>Entrada</th>
                        <th>Tipo</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody formArrayName="outputs">
                        <tr *ngFor="let input of outputs.controls; let i=index" [formGroupName]="i">
                            <td>
                                <input  type="text"
                                class="form-control"
                                formControlName ="name"
                                [class.is-invalid]="outputNameInvalido(i)"
                                >
                            </td>
                            
                            <td>
                                <input  type="text"
                                class="form-control"
                                formControlName ="type"
                                [class.is-invalid]="outputTypeInvalido(i)"
                                >
                            </td>
                            <td>
                                <button class="btn btn-danger btn-block"(click)="borrarOutput(i)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-block btn-mywhite " (click)="agregarOutput()"><i class="fas fa-plus"></i></button>
                <div class="error mt-1 mb-4">
                    <small *ngIf="sinSalidas && revisado" class="text-danger">
                       Debe tener al menos una salida
                    </small>
                </div>
            </div>
            
            
            <label >Código</label>
            
            <div class="row">
                <textarea class="form-control" rows="10" formControlName="code" [class.is-invalid]="codeInvalido"></textarea>
            </div>
            
        </div>
        
        <div class="error mb-4">
            <small *ngIf="form.invalid && revisado" class="text-danger">
               Faltan campos por llenar
            </small>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-accion btn-danger" (click)="eliminar()">Eliminar</button>
            <button type="submit" class="btn btn-accion btn-success">Guardar</button>
        </div>

    
    </div>   
    
</form>