<div class="login text-center bg-page">
    <h1 class="title">LOGIN</h1>

    <form (ngSubmit)="login()" [formGroup]="form">
        <div>
            <input class="form-input" type="text" placeholder="Correo" formControlName="correo">

            <input class="form-input" type="password" placeholder="Contraseña" formControlName="pass">
        </div>
        
        <div class="mb-4 text-right">

            <a class="crear-existe" [routerLink]="['/register']">¿No tienes cuenta? / Crea una</a>
               
        </div>
        <button class="btn btn-myblue" type="submit">Ingresar</button>
    </form>

</div>