.navbar-brand{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 36px;
    margin: -10px 20px -10px 0;
}

.nav-elem{
    font-size: 20px;
}

.nav-elem:hover{
    text-decoration: underline;
    color: white;
}

