<nav class="navbar navbar-expand-md navbar-gray navbar-dark fixed-top">
    
  <a class="navbar-brand font-mywhite" [routerLink]="['/home']" (click)="scroll()">IC</a>

  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">

    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
        <a class="nav-link font-mywhite nav-elem" (click)="scroll()" [routerLink]="['/home']">Ejercicios <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link font-mywhite nav-elem" (click)="scroll()" [routerLink]="['/homeEspecificaciones']"><span >Especificaciones</span></a>
      </li>
      <li class="nav-item active" *ngIf="logueado" >
        <a class="nav-link font-mywhite nav-elem" (click)="scroll()" [routerLink]="['/ejercicioMod', 'new']"><span >Crear ejercicio</span></a>
      </li>
      <li class="nav-item active" *ngIf="logueado" >
        <a class="nav-link font-mywhite nav-elem" (click)="scroll()" [routerLink]="['/especificacionMod', 'new']"><span >Crear especificación</span></a>
      </li>
    </ul>
    <div>
      <a *ngIf="!logueado" class="font-mywhite nav-elem mr-3" [routerLink]="['login']">Login</a>
      <a *ngIf="logueado" class="font-mywhite nav-elem mr-3" (click)="salir()">Salir</a>
    </div>
  </div>
</nav>