<nav class="navbar navbar-expand-lg navbar-gray navbar-dark fixed-top">
    <a class="navbar-brand font-mywhite" [routerLink]="['/home']" (click)="scroll()">IC</a>
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link font-mywhite nav-elem" (click)="scroll()" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div>
          <a class="font-mywhite nav-elem mr-3" [routerLink]="['login']">Login</a>
      </div>
  </nav>