<div>

    <!-- Buscador -->

    <form (ngSubmit)="buscar(busqueda.value)">
    <div class="row busqueda">
            <div class="col-sm-10 col-12">
                <input type="text" #busqueda class="form-control" placeholder="Categoría, nombre, o descripción">
            </div>
            <div class="col-sm-2 no-mobile text-right">
                <button type="submit" class="btn btn-mywhite"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>




    <!-- Filtros de categoría y dificultad -->

    <div class="row">

        <div class="col-sm-6 col-12 text-left">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-mywhite btn-block dropdown" id="dropdownBasic1" ngbDropdownToggle>Categoría</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-elem">
                    <button ngbDropdownItem (click)="filterCategoria(-1)">
                        Cualquier Categoría
                    </button>
                    <button 
                        ngbDropdownItem 
                        *ngFor="let categoria of categorias; let i = index"
                        [ngClass]="{'selected': filtroCategoria===i}" 
                        (click)="filterCategoria(i)"
                        >
                        <div class="row">
                            <div class="col-8">
                                <span class="categoria">{{categoria}}</span>
                            </div>
                            <div class="col-4 text-center div-cantidad">
                                <span>{{cantCategorias[i]}}</span>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-12 text-right">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-mywhite btn-block dropdown" id="dropdownBasic2" ngbDropdownToggle>Dificultad</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="drop-elem">
                    <button ngbDropdownItem (click)="filterDificultad(0)">
                        Cualquier Dificultad
                    </button>
                    <button ngbDropdownItem [ngClass]="{'selected': filtroDificultad===1}" (click)="filterDificultad(1)">
                        <div class="row">
                            <div class="col-8 stars">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="col-4 text-center div-cantidad">
                                <span class="cant">{{cantNiveles[0]}}</span>
                            </div>
                        </div>
                    </button>
                    <button ngbDropdownItem [ngClass]="{'selected': filtroDificultad===2}" (click)="filterDificultad(2)">
                        <div class="row">
                            <div class="col-8 stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="col-4 text-center div-cantidad">
                                <span class="cant">{{cantNiveles[1]}}</span>
                            </div>
                        </div>
                    </button>
                    <button ngbDropdownItem [ngClass]="{'selected': filtroDificultad===3}" (click)="filterDificultad(3)">
                        <div class="row">
                            <div class="col-8 stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="col-4 text-center div-cantidad">
                                <span class="cant">{{cantNiveles[2]}}</span>
                            </div>
                        </div>
                    </button>
                    <button ngbDropdownItem [ngClass]="{'selected': filtroDificultad===4}" (click)="filterDificultad(4)">
                        <div class="row">
                            <div class="col-8 stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="col-4 text-center div-cantidad">
                                <span class="cant">{{cantNiveles[3]}}</span>
                            </div>
                        </div>
                    </button>
                    <button ngbDropdownItem [ngClass]="{'selected': filtroDificultad===5}" (click)="filterDificultad(5)">
                        <div class="row">
                            <div class="col-8 stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="col-4 text-center div-cantidad">
                                <span class="cant">{{cantNiveles[4]}}</span>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>

    </div>



    <!-- Resultados de las búsquedas de ejercicios -->

    <div class="resultados bg-page">
        
        <div class="bg-elem ejercicio" *ngFor="let ejercicio of ejercicios | slice:inicio:fin" (click)="verEjercicio(ejercicio.$key)">
            
            <div class="row">
                <div class="col">
                    <span class="font-weight-bold h5">{{ejercicio.name}}</span>
                </div>
                <div class="col text-right">
                    <span class="font-mygray h5">{{ejercicio.section}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <span class="descripcion">{{ejercicio.details}}</span>
                </div>
                <div class="col-4 text-right dificultad">
                    <span class="level">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star" [ngClass]="{'no-star': ejercicio.level==1}"></i>
                        <i class="fas fa-star" [ngClass]="{'no-star': ejercicio.level<3}"></i>
                        <i class="fas fa-star" [ngClass]="{'no-star': ejercicio.level<4}"></i>
                        <i class="fas fa-star" [ngClass]="{'no-star': ejercicio.level<5}"></i>
                    </span>
                </div>
            </div>

        </div>

        <div class="row nav-tabla mx-2">
            <div class="col-2 text-left">
                <button class="btn btn-myblue btn-tabla" *ngIf="pagina != 1" (click)="anterior()"><i class="fas fa-angle-left"></i></button>
            </div>
            <div class="col-8  text-center paginacion">
                <span *ngIf="cantPaginas > 0">Página {{pagina}} de {{cantPaginas}}</span>
                <span *ngIf="cantPaginas == 0">No hay resultados</span>
            </div>
            <div class="col-2 text-right">
                <button class="btn btn-myblue btn-tabla" *ngIf="pagina < cantPaginas" (click)="siguiente()"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>

    </div>




</div>