/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// @import '~highlight.js/styles/stackoverflow-dark.css';
// @import '~highlight.js/styles/stackoverflow-light.css';
// @import '~highlight.js/styles/agate.css';
// @import '~highlight.js/styles/docco.css';
// @import '~highlight.js/styles/night-owl.css';
// @import '~highlight.js/styles/nord.css';
// @import '~highlight.js/styles/obsidian.css';
// @import '~highlight.js/styles/xcode.css';
// @import '~highlight.js/styles/atom-one-light.css';
@import 'assets/css/theme.css';


// Paleta de colores globales

$bodybg : #007DB2;
$myWhite : #FAFCFD;
$myWhiteShadow : #f1f1f1;
$navGray : #535353;
$pagebg : #D2EDFB;
$elembg : #6CC5EB;
$elemShadow : #61b5da;
$headerbg : #61B1D3;
$textGray : #464646;


body{
    background: $bodybg url("assets/fondo.png") no-repeat fixed left;
    // background: $bodybg;
}

.navbar-gray{
    background: $navGray;
}

.font-mywhite{
    color: $myWhite;
}

.font-mygray{
    color: $textGray;
}

.bg-mywhite{
    background: $myWhite;
}

.bg-elem{
    background: $elembg;
}

.bg-page{
    background: $pagebg;
}

.btn-mywhite{
    background: $myWhite;
    color: $textGray;
    transition: 0.2s;
    font-size: 32px;
    font-weight: 600;
}

.btn-mywhite:hover{
    color: $textGray;
    background: $myWhiteShadow;
}

.btn-myblue{
    background: $elembg;
    color: $textGray;
    transition: 0.2s;
    font-size: 32px;
    font-weight: 600;
}

.btn-myblue:hover{
    color: $textGray;
    background: $elemShadow;
}

.btn:focus{
    box-shadow: none;
}

.container{
    padding-top: 50px;
}


// Login / register

.form-input{
    width: 100%;
    margin: 10px 0px;
    margin-top: 25px;
    padding: 10px 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
    border: 1px solid #ced4da;
    border-radius: 5px;
    color: #495057;
}


.form-input:focus{
    outline-width: 0;
}


.crear-existe{
    color: rgb(19, 19, 19);
    font-weight: 500;
    font-size: 18px;
    
}

.crear-existe:hover{
    color: rgb(9, 101, 177);
    text-decoration: none;
}

.error{
    margin-top: -10px;
    height: 10px;
}


.clickeable{
    cursor: pointer;
}


@media screen and (max-width: 575px){
    .container{
        padding-right: 0%;
        padding-left: 0%;
    }

    .no-mobile{
        visibility: hidden;
        display: none;
    }
}